<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Products example template</TITLE>
</head>

<body>




<br>
<br>
<br>
<H1>PRODUCT TEMPLATES</H1>
<h2>EXAMPLE</h2>


<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>ORDERS_LIST_TEMPLATE</h3>
<em>This subpart is used to display the regular list of orders.</em><br>
<br>
<br>

<!-- ###ORDERS_LIST_TEMPLATE### begin This subpart is used to display the list of orders. PAGE orders-->
<h1>Shop System for TYPO3</h1>
<p> Welcome to the tt_products Shop System for TYPO3. Take a look at the German tutorial at <a href="http://jambage.com/index.php?id=170">tt_products - Open Source Shop System</a> before you start with it. There you can find also a forum for questions.
</p>


<TABLE border="0" cellspacing="0" cellpadding="1" width=100%>
			<tr>
				<td colspan=4 bgcolor="###GC2###">###GW2B###<b>Client : </b>###GW2E###</td>
			</tr>

			<tr>
			<td colspan=4>
			<font size=3><strong>Client ###CLIENT_NAME### n° : ###CLIENT_NUMBER###</strong></font>
			</td>
			</tr>

			<tr>
				<td bgcolor="###GC2###">###GW2B###<b>Date :</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>N° Facture:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b> Prix TTC :</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>Actions:</b>###GW2E###</td>
			</tr>
			<tr>
				<td colspan=4><img src="clear.gif" width=1 height=6></td>
			</tr>
	<!-- ###ORDER_LIST### begin -->
		<!-- ###ORDER_ITEM### begin -->
			<tr>
				<td bgcolor="###GC1###">###GW2B###<b>###ORDER_DATE###</b>###GW2E###</td>
				<td bgcolor="###GC1###">###GW2B###<b>###ORDER_NUMBER###</b>###GW2E###</td>
				<td bgcolor="###GC1###">###GW2B###<b>###ORDER_PRICE###</b>###GW2E###</td>
				<td bgcolor="###GC1###">###GW2B###<b>[<a href=index.php?id=###PIDtracking###&tracking=###TRACKING_CODE###>Voir statut</a>] [<a href=index.php?id=###PIDbilling###&tracking=###TRACKING_CODE###>Voir cette facture</a>] [<a href=index.php?id=###PIDdelivery###&tracking=###TRACKING_CODE###>Voir bon de livraison</a>] &raquo;</td>

</b>###GW2E###</td>
			</tr>
		<!-- ###ORDER_ITEM### end -->
	<!-- ###ORDER_LIST### end -->
			<tr>
				<td colspan=4 bgcolor="###GC2###">###GW2B###<b>Statistiques : </b>###GW2E###</td>
			</tr>
			<tr>
				<td colspan=4 bgcolor="###GC1###">###GW2B###<b>Points fidèlité récupérés : ###CREDIT_POINTS_SAVED###</b>###GW2E###</td>
			</tr>
			<tr>
				<td colspan=4 bgcolor="###GC1###">###GW2B###<b>Points fidèlité consommés: ###CREDIT_POINTS_SPENT###</b>###GW2E###</td>
			</tr>
			<tr>
				<td colspan=4 bgcolor="###GC1###">###GW2B###<b>Points fidèlité changés: ###CREDIT_POINTS_CHANGED###</b>###GW2E###</td>
			</tr>
			<tr>
				<td colspan=4 bgcolor="###GC1###">###GW2B###<b>Points fidèlité cadeaux: ###CREDIT_POINTS_GIFTS###</b>###GW2E###</td>
			</tr>
			<tr>
				<td colspan=4 bgcolor="###GC1###">###GW2B###<b>Total Points fidèlité au ###CALC_DATE### : ###CREDIT_POINTS_TOTAL###</b>###GW2E###</td>
			</tr>
		<!-- ###ORDER_NOROWS### begin -->
			<tr>
				<td colspan=4 bgcolor="###GC1###">###GW2B###<b>Aucun enrigistrement ne répond à ces critères</b>###GW2E###</td>
			</tr>
		<!-- ###ORDER_NOROWS### end -->



</TABLE>
<BR><BR>


<!-- ###ORDERS_LIST_TEMPLATE### end -->



<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>ITEM_LIST_TEMPLATE</h3>
<em>This subpart is used to display the regular list of products. It's also used by search-results.</em><br>
<br>
<br>


<!-- ###ITEM_LIST_TEMPLATE### begin
	This subpart is used to display the regular list of products. It's also used by search-results.
-->
<TABLE border="0" cellspacing="0" cellpadding="1" width=1>
	<tr>
		<td><!--###LINK_PREV###-->###GW2B###<div align="left"><b>Page précédente</b></div>###GW2E###<!--###LINK_PREV###--></td>
		<td></td>
		<td></td>
		<td><!--###LINK_NEXT###-->###GW2B###<div align="right"><b>Page suivante</b></div>###GW2E###<!--###LINK_NEXT###--></td>
	</tr>
	<tr>
		<td><img src="clear.gif" width=100 height=1></td>
		<td><img src="clear.gif" width=5 height=1></td>
		<td><img src="clear.gif" width=300 height=1></td>
		<td><img src="clear.gif" width=100 height=1></td>
	</tr>
	<!-- ###ITEM_CATEGORY_AND_ITEMS### begin -->
		<!-- ###ITEM_CATEGORY### begin -->
			<tr>
				<td colspan=4><br>###GW1B###<font size=3><strong>###CATEGORY_TITLE###</strong></font> ###GW1E###
				<br>

				</td>
			</tr>
		<!-- ###ITEM_CATEGORY### end -->
		<!-- ###ITEM_LIST### begin -->
			<tr>
				<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Produit:</b>###GW2E###</td>
				<td bgcolor="###GC2###">###GW2B###<b>Entrez la quantité:</b>###GW2E###</td>
			</tr>
			<tr>
				<td colspan=4><img src="clear.gif" width=1 height=6></td>
			</tr>
			<!-- ###ITEM_SINGLE### begin-->
			<tr><td colspan=4>###FORM_MEMO###</td></tR>
			<tr>
			<td colspan=4>
			<FORM method="post" action="###FORM_URL###" name="###FORM_NAME###">
			<TABLE border="0" cellspacing="0" cellpadding="1" width=1>
				<tr>
					<td><img src="clear.gif" width=100 height=1></td>
					<td><img src="clear.gif" width=5 height=1></td>
					<td><img src="clear.gif" width=300 height=1></td>
					<td><img src="clear.gif" width=100 height=1></td>
				</tr>
				<tr>
					<td colspan=4><img src="clear.gif" width=1 height=6></td>
				</tr>
				<tr>
					<td colspan=4 bgcolor="###GC1###"><!--###LINK_ITEM###-->###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###<!--###LINK_ITEM###--></td>
				</tr>
				<TR>
					<TD valign=top>###PRODUCT_IMAGE###</TD>
					<td>
			<!-- ###display_variant1### -->
  					###GW2B### Color: ###GW2E### <SELECT style="font-size: 10px"
  					name="###FIELD_COLOR_NAME###" rows="1">###PRODUCT_COLOR###</SELECT><br>
 			 <!-- ###display_variant1### -->
  			<!-- ###display_variant2### -->
 				 ###GW2B### Size: ###GW2E### <SELECT style="font-size: 10px"
 				 name="###FIELD_SIZE_NAME###" rows="1">###PRODUCT_SIZE###</SELECT><br>
 			 <!-- ###display_variant2### -->

</td>
					<TD valign=top>###GW2B######PRODUCT_NOTE######GW2E###<br />
						###GW1B###<B>Prix TTC:</b> <font color=red><strong>###PRICE_TAX### EUR</strong></font>###GW1E###<br />
						###GW2B###(Prix HT: ###PRICE_NO_TAX###)###GW2E###<br />
						###GW2B###(dont TVA ###PRICE_TAX###)###GW2E###
					</TD>
					<TD valign=top nowrap align=right>###GW2B### Qté: ###GW2E###<INPUT size="3" maxlength="4" type="text" name="###FIELD_NAME###" value="###FIELD_QTY###"><BR><input type="Submit" name="order" value="Ajouter au panier" onClick="if (!document.forms['###FORM_NAME###']['###FIELD_NAME###'].value!=''){document.forms['###FORM_NAME###']['###FIELD_NAME###'].value=1;};">
					</TD>
				</TR>
			</TABLE>
			</FORM>
			</td>
			</tr>
			<!-- ###ITEM_SINGLE### end -->
		<!-- ###ITEM_LIST### end -->
	<!-- ###ITEM_CATEGORY_AND_ITEMS### end -->
	<tr>
		<td><!--###LINK_PREV###-->###GW2B###<div align="left"><b>Page précédente</b></div>###GW2E###<!--###LINK_PREV###--></td>
		<td></td>
		<td></td>
		<td><!--###LINK_NEXT###-->###GW2B###<div align="right"><b>Page suivante</b></div>###GW2E###<!--###LINK_NEXT###--></td>
	</tr>
</TABLE>
<BR><BR>
<!-- ###ITEM_LIST_TEMPLATE### end -->


















<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>ITEM_SINGLE_DISPLAY</h3>
<em>This subpart is used to display single products.</em><br>
<br>
<br>

<!-- ###ITEM_SINGLE_DISPLAY### begin
	This subpart is used to display single products.
-->
<TABLE border="0" cellspacing="0" cellpadding="1" width=1>
<FORM method="post" action="###FORM_URL###">
	<tr>
		<td><img src="clear.gif" width=100 height=1></td>
		<td><img src="clear.gif" width=5 height=1></td>
		<td><img src="clear.gif" width=300 height=1></td>
	</tr>
	<tr>
		<td colspan=3><img src="clear.gif" width=1 height=6></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC1###"><!--###LINK_ITEM###-->###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###<!--###LINK_ITEM###--></td>
	</tr>
	<TR>
		<TD valign=top>###PRODUCT_IMAGE###</TD>
		<td></td>
		<TD valign=top>
			###GW1B###
				<B>Catégorie:</B> ###CATEGORY_TITLE### <br>
				<B>Ref. article:</B> ###PRODUCT_ITEMNUMBER###<br>
				<B>Prix TTC:</B> <font color=red><strong>###PRICE_TAX### EUR</strong></font>###GW2B### &nbsp; (Prix HT ###PRICE_NO_TAX###)###GW2E###<br>

				<B>Information:</B><br>
				###PRODUCT_NOTE###<br>
			###GW1E###	<br>
				<nobr>###GW2B### Quantité: ###GW2E###<INPUT size="3" maxlength="4" type="text" name="###FIELD_NAME###" value="###FIELD_QTY###"> &nbsp; <input type="Submit" name="order" value="Ajouter au panier" onClick="if (!document.forms[0]['###FIELD_NAME###'].value!=''){document.forms[0]['###FIELD_NAME###'].value=1;};"></nobr>
		</TD>
	</TR>
</form>
</TABLE>
<br>
<br>

###GW2B###
<!--###LINK_ITEM###-->
<b><- Retour</b>
<!--###LINK_ITEM###-->
###GW2E###

<!-- ###ITEM_SINGLE_DISPLAY### end -->













<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>ITEM_SEARCH</h3>
<em>Subpart for the search-form.</em><br>
<br>
<br>

<!-- ###ITEM_SEARCH### begin
	Subpart for the search-form
-->
<FORM method="post" action="###FORM_URL###">
	<INPUT size="30" maxlength="100" type="text" name="sword" value="###SWORD###">
	<input type="Submit" name="order" value="Chercher">
</form>
<!-- ###ITEM_SEARCH### end -->










<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>ITEM_SEARCH_EMPTY</h3>
<em>Subpart displayed if the search was empty. If the search was successfull, the ITEM_LIST_TEMPLATE in the top is used.</em><br>
<br>
<br>

<!-- ###ITEM_SEARCH_EMPTY### begin
	Subpart displayed if the search was empty. If the search was successfull, the ITEM_LIST_TEMPLATE in the top is used.
-->
###GW1B###<B>Aucun élément ne répond à ces critères.</B>###GW1E###
<!-- ###ITEM_SEARCH_EMPTY### end -->











<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>BASKET_TEMPLATE</h3>
<em>
Subpart used to display the content of the shopping basket.<br>
The product list part has the exact same features as the regular LIST_ITEM_TEMPLATE subpart.<br>
In addition there's a number of fields used for delivery and payment information.<br>
</em><br>
<br>
<br>

<!-- ###BASKET_TEMPLATE### begin
	Subpart used to display the content of the shopping basket.
	The product list part has the exact same features as the regular LIST_ITEM_TEMPLATE subpart.
	In addition there's a number of fields used for delivery and payment information.
-->
###EXTERNAL_COBJECT###
<FORM method="post" action="###FORM_URL###">
<TABLE border="0" cellspacing="0" cellpadding="1" width=1>
	<tr>
		<td><img src="clear.gif" width=100 height=1></td>
		<td><img src="clear.gif" width=5 height=1></td>
		<td><img src="clear.gif" width=200 height=1></td>
		<td colspan=3><img src="clear.gif" width=200 height=1></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Produit:</b>###GW2E###</td>
		<td bgcolor="###GC2###">###GW2B###<b>Prix:</b>###GW2E###</td>
		<td bgcolor="###GC2###">###GW2B###<b>Quantité:</b>###GW2E###</td>
		<td align=center bgcolor="###GC2###">###GW2B###<b>Total:</b>###GW2E###</td>
	</tr>
	<!-- ###ITEM_CATEGORY_AND_ITEMS### begin -->
		<!-- ###ITEM_CATEGORY### begin -->
			<tr>
				<td colspan=6><br>###CATEGORY_TITLE###<br>
				</td>
			</tr>
		<!-- ###ITEM_CATEGORY### end -->
		<!-- ###ITEM_LIST### begin -->
			<!-- ###ITEM_SINGLE### begin-->
				<tr>
					<td colspan=6><img src="clear.gif" width=1 height=6></td>
				</tr>
				<TR>
					<TD valign=top>###PRODUCT_IMAGE###</TD>
					<td></td>
					<TD valign=top>
						<!--###LINK_ITEM###-->###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###<!--###LINK_ITEM###-->

					</TD>
					<td valign=top>###GW1B### ###PRICE_TAX### ###GW1E###</td>
					<TD valign=top>&nbsp;<INPUT size="3" maxlength="4" type="text" name="###FIELD_NAME_BASKET###" value="###FIELD_QTY###">&nbsp;</TD>
					<td valign=top align=right>###GW1B### <b>###PRICE_TOTAL_TAX###</b> ###GW1E###</td>
				</TR>
			<!-- ###ITEM_SINGLE### end -->
		<!-- ###ITEM_LIST### end -->
	<!-- ###ITEM_CATEGORY_AND_ITEMS###  end -->
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Livraison:</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=6></td>
	</tr>
	<TR>
		<td colspan=5>
		###GW1B###Port : <b>###SHIPPING_TITLE###</B>###GW1E###<br><br>

		###SHIPPING_SELECTOR###

		###SHIPPING_IMAGE###
		</td>
		<td valign=top align=right>###GW1B### <b>###PRICE_SHIPPING_TAX###</b> <BR>(###PRICE_SHIPPING_NO_TAX###) ###GW1E###</td>
	</TR>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Moyen de paiement:</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=6></td>
	</tr>
	<TR>
		<td colspan=5>
		###GW1B###

		###PAYMENT_SELECTOR###

		###GW1E###

###GW2B###
		<!-- ###MESSAGE_PAYMENT### begin
			This whole subpart, message_payment is substituted with the subpart 'message_payment_[number-of-method-in-typoscript]'
		-->
			<!-- ###MESSAGE_PAYMENT_10### begin -->
			<BR><B>--</b><br>
			<!-- ###MESSAGE_PAYMENT_10### end -->
		<!-- ###MESSAGE_PAYMENT### end -->
###GW2E###

		</td>
		<td valign=top align=right>###GW1B### <b>###PRICE_PAYMENT_TAX###</b> <BR>(###PRICE_PAYMENT_NO_TAX###) ###GW1E###</td>
	</TR>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=6 bgcolor="###GC2###">###GW2B###<b>TOTAL:</b>###GW2E###</td>
	</tr>
	<TR>
		<td valign=top colspan=5></td>
		<td valign=top align=right nowrap>###GW1B### <b>EUR###PRICE_TOTAL_TAX###</b><br>
		(Prix HT ###PRICE_TOTAL_NO_TAX###) ###GW1E###<br>
		(dont TVA ###PRICE_TAX###)
					</TD>
</td>
	</TR>
</TABLE>
<input type="hidden" name="mode_update" value="1">
<input type="Submit" name="products_update" value="Mise à jour panier">&nbsp;&nbsp;
<input type="Submit" name="products_info" value="Commander" onClick="document.forms[0].action='###FORM_URL_INFO###';">
</FORM>
<BR>
<!-- ###BASKET_TEMPLATE### end -->









<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>BASKET_INFO_TEMPLATE</h3>
<em>
Subpart used if the GPvar "products_info" was set. This is normally used to let people enter address information separately from the real basket.<BR>
Exact same features as BASKET_TEMPLATE<BR>
</em><br>
<br>
<br>
<!-- ###BASKET_INFO_TEMPLATE### begin
	Subpart used if the GPvar "products_info" was set. This is normally used to let people enter address information separately from the real basket
	Exact same features as BASKET_TEMPLATE
-->
<FORM method="post" action="###FORM_URL###">
<TABLE border="0" cellspacing="0" cellpadding="1" width=1>
	<tr>
		<td><img src="clear.gif" width=100 height=1></td>
		<td><img src="clear.gif" width=5 height=1></td>
		<td><img src="clear.gif" width=200 height=1></td>
		<td colspan=3><img src="clear.gif" width=200 height=1></td>
	</tr>
	<tr>
		<td colspan=6 bgcolor="###GC2###">###GW2B###<b>Adresse de facturation:</b>###GW2E###</td>
	</tr>
	<tr>
		<td colspan=6>
		<!-- ###BILLING_ADDRESS### start -->
		###GW1B###
			Entrez votre adresse postale. Ce nom et cette adresse seront utilisé pour facturer les produits achetés de la commande..<br>
			Nous envoyons les produits commandés par défaut à cette adresse, si vous voulez que l'on vous envoi votre commande à une autre adresse saisissez la ci dessous.<br>
			Si vouc choisissez de prendre la machandise en magasin, rien ne vous sera envoyé bien sûr.
		###GW1E###
			<br>
			<br>
			<table>
			<tr>
				<td>###GW1B###<strong>Nom/Entreprise: </strong>*###GW1E###</td>
				<td><input type="text" name="recs[personinfo][name]" size="30" value="###PERSON_NAME###"></td>
			</tr>
			<tr>
				<td>###GW1B###<strong>Adresse: </strong>*###GW1E###</td>
				<td><textarea cols=30 rows=5 name="recs[personinfo][address]" wrap="off">###PERSON_ADDRESS###</textarea></td>
			</tr>
			<tr>
				<td>###GW1B###<strong>Téléphone: </strong>*###GW1E###</td>
				<td><input type="text" name="recs[personinfo][telephone]" size="30" value="###PERSON_TELEPHONE###"></td>
			</tr>
			<tr>
				<td>###GW1B###<strong>Email:</strong>###GW1E###</td>
				<td><input type="text" name="recs[personinfo][email]" size="30" value="###PERSON_EMAIL###"></td>
			</tr>
			</table><br>

			###GW1B###
			<em>Attention : Les champs marqués avec  * doivent être remplis !!</em>
			###GW1E###
		<!-- ###BILLING_ADDRESS### end-->


		<!-- ###BILLING_ADDRESS_LOGIN### start
			If this part is not empty then this will be used instead of BILLING_ADDRESS if there is a FE-login user.
		 -->
			<br>
			<table>
			<tr>
				<td>###GW1B###<strong>Nom/Entreprise:</strong>###GW1E###</td>
				<td>###GW1B######PERSON_NAME######GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###<strong>Adresse:</strong>###GW1E###</td>
				<td>###GW1B######PERSON_ADDRESS_DISPLAY######GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###<strong>Téléphone:</strong>###GW1E###</td>
				<td>###GW1B######PERSON_TELEPHONE######GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###<strong>Email:</strong>###GW1E###</td>
				<td>###GW1B######PERSON_EMAIL######GW1E###</td>
			</tr>
			</table>
		<!-- ###BILLING_ADDRESS_LOGIN### end-->
		</td>
	</tr>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Adresse de livraison (si différente de la facturation)</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=3>
		###GW1B###
			Si vous souhaitez faire livrer vos produits à une autre adresse que à celle de facturation ci dessus, entrez l'adresse complète ici.  Vous pouvez également saisir ici le nom/mail d'un contact à cette nouvelle adresse.
		###GW1E###
			<br>
			<br>

			<table>
			<tr>
				<td>###GW1B###<strong>Personne à contacter :</strong>###GW1E###</td>
				<td><input type="text" name="recs[delivery][name]" size="30" value="###DELIVERY_NAME###"></td>
			</tr>
			<tr>
				<td>###GW1B###<strong>Adresse:</strong>###GW1E###</td>
				<td><textarea cols=30 rows=5 name="recs[delivery][address]" wrap="off">###DELIVERY_ADDRESS###</textarea></td>
			</tr>
			<tr>
				<td>###GW1B###<strong>Téléphone:</strong>###GW1E###</td>
				<td><input type="text" name="recs[delivery][telephone]" size="30" value="###DELIVERY_TELEPHONE###"></td>
			</tr>
			<tr>
				<td>###GW1B###<strong>Email:</strong>###GW1E###</td>
				<td><input type="text" name="recs[delivery][email]" size="30" value="###DELIVERY_EMAIL###"></td>
			</tr>
			</table>
		</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Remarques :</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=3>
			###GW1B###
				Pour toute remarque complémentaire, utilisez le champ suivant:
			###GW1E###
			<br>
			<br>

			<table>
			<tr>
				<td>###GW1B###Commentaires:###GW1E###</td>
				<td><textarea cols=30 rows=5 name="recs[delivery][note]">###DELIVERY_NOTE###</textarea></td>
			</tr>
			</table>
		</td>
		<td colspan=3></td>
	</tr>
</TABLE>
<br>
<input type="Submit" name="products_update" value="Retour au panier">&nbsp;&nbsp;	<input type="Submit" name="products_payment" value="Payer/Commander" onClick="document.forms[0].action='###FORM_URL_FINALIZE###';">

</FORM>
<BR>
<!-- ###BASKET_INFO_TEMPLATE### end -->








<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>BASKET_PAYMENT_TEMPLATE</h3>
<em>
Subpart used if the GPvar "products_payment" was set. This displays the final information about the order before the payment is initiated.<BR>
Exact same features as BASKET_TEMPLATE<BR>
</em><br>
<br>
<br>
<!-- ###BASKET_PAYMENT_TEMPLATE### begin
	Subpart used if the GPvar "products_payment" was set. This displays the final information about the order before the payment is initiated.
	Exact same features as BASKET_TEMPLATE
-->
###EXTERNAL_COBJECT###
	<TABLE border="0" cellspacing="0" cellpadding="1" width=1>
		<tr>
			<td><img src="clear.gif" width=100 height=1></td>
			<td><img src="clear.gif" width=5 height=1></td>
			<td><img src="clear.gif" width=200 height=1></td>
			<td colspan=3><img src="clear.gif" width=200 height=1></td>
		</tr>
		<tr>
			<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Produit:</b>###GW2E###</td>
			<td bgcolor="###GC2###">###GW2B###<b>Prix :</b>###GW2E###</td>
			<td bgcolor="###GC2###">###GW2B###<b>Quantité:</b>###GW2E###</td>
			<td bgcolor="###GC2###">###GW2B###<b>Total:</b>###GW2E###</td>
		</tr>
		<!-- ###ITEM_CATEGORY_AND_ITEMS### begin -->
			<!-- ###ITEM_CATEGORY### begin -->
				<tr>
					<td colspan=6><br>###CATEGORY_TITLE###<br>
					</td>
				</tr>
			<!-- ###ITEM_CATEGORY### end -->
			<!-- ###ITEM_LIST### begin -->
				<!-- ###ITEM_SINGLE### begin-->
					<tr>
						<td colspan=6><img src="clear.gif" width=1 height=6></td>
					</tr>
					<TR>
						<TD valign=top>###PRODUCT_IMAGE###</TD>
						<td></td>
						<TD valign=top>
							###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###

						</TD>
						<td valign=top>###GW1B### ###PRICE_TAX### ###GW1E###</td>
						<TD valign=top>###GW1B### ###FIELD_QTY### ###GW1E###</TD>
						<td valign=top align=right>###GW1B### <b>###PRICE_TOTAL_TAX###</b> ###GW1E###</td>
					</TR>
				<!-- ###ITEM_SINGLE### end -->
			<!-- ###ITEM_LIST### end -->
		<!-- ###ITEM_CATEGORY_AND_ITEMS###  end -->
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Adresse de facturation :</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=3>
			<table cellspacing=3>
			<tr>
				<td>###GW1B###Nom/Entreprise:###GW1E###</td>
				<td>###GW1B###<strong>###PERSON_NAME###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Addresse:###GW1E###</td>
				<td>###GW1B###<strong>###PERSON_ADDRESS_DISPLAY###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Téléphone:###GW1E###</td>
				<td>###GW1B###<strong>###PERSON_TELEPHONE###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Email:###GW1E###</td>
				<td>###GW1B###<strong>###PERSON_EMAIL###</strong>###GW1E###</td>
			</tr>
			</table>
		</td>
		<td colspan=3></td>
	</tr>



	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Adresse de livraison :</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=3>
			<table>
			<tr>
				<td>###GW1B###Adresse:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_ADDRESS_DISPLAY###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Contact:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_NAME###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Téléphone:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_TELEPHONE###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Email:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_EMAIL###</strong>###GW1E###
				###GW2B###<BR>(Cette adresse recevra la confirmation de commande!)###GW2E###<BR>
				</td>
			</tr>
			</table>
		</td>
		<td colspan=3></td>
	</tr>


	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Remarques :</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=3>
			<table>
			<tr>
				<td>###GW1B###Commentaire:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_NOTE_DISPLAY###</strong>###GW1E###</td>
			</tr>
			</table>
		</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Livraison/Paiement:</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>



	<TR>
		<td valign=top colspan=3>###GW1B###
			<strong>Methode de  transport:</strong><br>
			###SHIPPING_IMAGE### ###SHIPPING_TITLE###

		###GW1E###</td>

		<td valign=top align=right colspan=3>###GW1B###
		<b>###PRICE_SHIPPING_TAX###</b><br>
		(###PRICE_SHIPPING_NO_TAX###)<br>

		###GW1E###</td>
	</TR>
	<TR>
		<td valign=top colspan=3>###GW1B###
			<strong>Moyen de paiement:</strong><br>
			###PAYMENT_IMAGE### ###PAYMENT_TITLE###
		###GW1E###
###GW2B###
		<!-- ###MESSAGE_PAYMENT###
			This whole subpart, message_payment is substituted with the subpart 'message_payment_[number-of-method-in-typoscript]'
		-->
			<!-- ###MESSAGE_PAYMENT_10### begin -->
			<BR><B>--</b><br>
			<!-- ###MESSAGE_PAYMENT_10### end -->
		<!-- ###MESSAGE_PAYMENT### -->
###GW2E###
		</td>
		<td valign=top align=right colspan=3>###GW1B###
		<b>###PRICE_PAYMENT_TAX###</b><br>
		(###PRICE_PAYMENT_NO_TAX###)<br>

		###GW1E###</td>
	</TR>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=6 bgcolor="###GC2###">###GW2B###<b>TOTAL:</b>###GW2E###</td>
	</tr>
	<TR>
		<td valign=top colspan=3>###GW1B###
			<strong>Total :</strong>
		###GW1E###</td>

		<td valign=top align=right colspan=3 nowrap>###GW1B###
		<b>EUR  TTC###PRICE_TOTAL_TAX###</b><br>
		(HT : ###PRICE_TOTAL_NO_TAX###)<br>

		###GW1E###</td>
	</TR>
</TABLE>
<br>
<FORM method="post" action="###FORM_URL###">
<input type="Submit" name="products_update" value="Retour au panier">&nbsp;&nbsp;	<input type="Submit" name="products_finalize" value="Valider la commande!" onClick="document.forms[0].action='###FORM_URL_THANKS###'; document.forms[0].target='###FORM_URL_TARGET###';">
</FORM>
<BR>
<!-- ###BASKET_PAYMENT_TEMPLATE### end -->














<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>BASKET_ORDERCONFIRMATION_TEMPLATE</h3>
<em>
Subpart used if the GPvar "products_payment" was set. This displays the final information about the order before the payment is initiated.<BR>
Exact same features as BASKET_TEMPLATE<BR>
</em><br>
<br>
<br>
<!-- ###BASKET_ORDERCONFIRMATION_TEMPLATE### begin
	Subpart used if the order is finalized and this is thus the confirmation shown.
-->
<TABLE border="0" cellspacing="0" cellpadding="1" width=1>
	<tr>
		<td><img src="clear.gif" width=100 height=1></td>
		<td><img src="clear.gif" width=5 height=1></td>
		<td><img src="clear.gif" width=200 height=1></td>
		<td colspan=3><img src="clear.gif" width=200 height=1></td>
	</tr>



	<tr>
		<td colspan=6>
		###GW1B###
			<b>Confirmation de commande:</b><br>
			Merci d'avoir fait affaire avec nous!<br>
			Votre commande est complète sous le n° :<br><br>
								&nbsp;&nbsp;&nbsp;&nbsp;<B>###ORDER_UID###</B> <br>
								<br>
								Utilisez ce n° dans toute correspondance avec nos services.<br>
			Cette confirmation est également envoyée par mail à l'adresse de livraison saisie :(###DELIVERY_EMAIL###). Vous devez néanmoins dans tous les cas faire une impression de cette commande en cas de litige.<br>
			<br>

			<!-- ###MESSAGE_PAYMENT###
				This whole subpart, message_payment is substituted with the subpart 'message_payment_[number-of-method-in-typoscript]'
			-->
				<!-- ###MESSAGE_PAYMENT_10### begin
					Message for payment method 10
				-->
				<B>La transaction bancaire a réussie</B> et possède le n° de transaction, ###TRANSACT_CODE###.<br>
				<br>
				<!-- ###MESSAGE_PAYMENT_10### end -->
				<!-- ###MESSAGE_PAYMENT_40### begin
					Message for payment method 40, in this case not a credit card but plain ordering
				-->
				<B>Important! La prochaine étape :</B><br>
				Vous avez choisi de payer par virement bancaire sur notre compte. Voici nos coordonnées bancaires :<br>
				- Banque: Superbank Reg: <strong>xxxx</strong> N° de compte: <strong>xxxxxxxx</strong><br>
				- Cheque: Envoyez votre paiement à l'adresse ci dessous>
				N'oubliez pas de joindre le n° de commande, ###ORDER_UID###, dans votre correspondance!<br>
				<br>
				<!-- ###MESSAGE_PAYMENT_40### -->
				<!-- ###MESSAGE_PAYMENT_50### begin
					Message for payment method 50, in this case the customer has chosed to by on credit.
				-->
				<B>Credit</B><br>
				Etant un client privélègié vous disposez d'un compte chez nous, nous prélèverons directement le montant de la transaction sur ce dernier...<br>
				<!-- ###MESSAGE_PAYMENT_50### -->
			<!-- ###MESSAGE_PAYMENT### -->

			<b>Livraison et état de votre commande.</b><br>
			La livraison se fera conformément à nos conditions de vente. Votre commande est datée du  ###ORDER_DATE###.<br>
			<br>
			Vous pouvez suivre votre commande à l'aide du n° de suivi suivant : <br>
			<strong>###ORDER_TRACKING_NO###</strong>. Cliquez ici <a href="http://###DOMAIN###/index.php?id=###PID_TRACKING###&type=0&tracking=###ORDER_TRACKING_NO###"> pour en voir l'état actuel.</a><br><br>
			<br>
		###GW1E###
		###EXTERNAL_COBJECT###
		</td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Produit:</b>###GW2E###</td>
		<td bgcolor="###GC2###">###GW2B###<b>Prix:</b>###GW2E###</td>
		<td bgcolor="###GC2###">###GW2B###<b>Quantité:</b>###GW2E###</td>
		<td bgcolor="###GC2###">###GW2B###<b>Total:</b>###GW2E###</td>
	</tr>
	<!-- ###ITEM_CATEGORY_AND_ITEMS### begin -->
		<!-- ###ITEM_CATEGORY### begin -->
			<tr>
				<td colspan=6><br>###CATEGORY_TITLE###<br>
				</td>
			</tr>
		<!-- ###ITEM_CATEGORY### end -->
		<!-- ###ITEM_LIST### begin -->
			<!-- ###ITEM_SINGLE### begin-->
				<tr>
					<td colspan=6><img src="clear.gif" width=1 height=6></td>
				</tr>
				<TR>
					<TD valign=top>###PRODUCT_IMAGE###</TD>
					<td></td>
					<TD valign=top>
						###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###

					</TD>
					<td valign=top>###GW1B### ###PRICE_TAX### ###GW1E###</td>
					<TD valign=top>###GW1B### ###FIELD_QTY### ###GW1E###</TD>
					<td valign=top align=right>###GW1B### <b>###PRICE_TOTAL_TAX###</b> ###GW1E###</td>
				</TR>
			<!-- ###ITEM_SINGLE### end -->
		<!-- ###ITEM_LIST### end -->
	<!-- ###ITEM_CATEGORY_AND_ITEMS###  end -->
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Adresse de facturation:</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=3>
			<table cellspacing=3>
			<tr>
				<td>###GW1B###Nom/Entreprise:###GW1E###</td>
				<td>###GW1B###<strong>###PERSON_NAME###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Adresse postale:###GW1E###</td>
				<td>###GW1B###<strong>###PERSON_ADDRESS_DISPLAY###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Téléphone:###GW1E###</td>
				<td>###GW1B###<strong>###PERSON_TELEPHONE###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Email:###GW1E###</td>
				<td>###GW1B###<strong>###PERSON_EMAIL###</strong>###GW1E###</td>
			</tr>

				<!-- ###FE_USER_SECTION###  begin -->
			<tr>
				<td>###GW1B###Nom d'utilisateur:###GW1E###</td>
				<td>###GW1B###<strong>###FE_USER_USERNAME###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###N° Utilisateur:###GW1E###</td>
				<td>###GW1B###<strong>###FE_USER_UID###</strong>###GW1E###</td>
			</tr>
				<!-- ###FE_USER_SECTION###  end -->

			</table>
		</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Adresse de livraison:</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=3>
			<table>
			<tr>
				<td>###GW1B###Adresse postale:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_ADDRESS_DISPLAY###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Contact:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_NAME###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Téléphone:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_TELEPHONE###</strong>###GW1E###</td>
			</tr>
			<tr>
				<td>###GW1B###Email:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_EMAIL###</strong>###GW1E###</td>
			</tr>
			</table>
		</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Remarques:</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=3>
			<table>
			<tr>
				<td>###GW1B###Commentaire:###GW1E###</td>
				<td>###GW1B###<strong>###DELIVERY_NOTE_DISPLAY###</strong>###GW1E###</td>
			</tr>
			</table>
		</td>
		<td colspan=3></td>
	</tr>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=3 bgcolor="###GC2###">###GW2B###<b>Livraison/Paiement:</b>###GW2E###</td>
		<td colspan=3></td>
	</tr>
	<TR>
		<td valign=top colspan=3>###GW1B###
			<strong>Methode de transport :</strong><br>
			###SHIPPING_IMAGE### ###SHIPPING_TITLE###

		###GW1E###</td>

		<td valign=top align=right colspan=3>###GW1B###
		<b>###PRICE_SHIPPING_TAX###</b><br>
		(###PRICE_SHIPPING_NO_TAX###)<br>

		###GW1E###</td>
	</TR>
	<TR>
		<td valign=top colspan=3>###GW1B###
			<strong>Moyen de paiement:</strong><br>
			###PAYMENT_IMAGE### ###PAYMENT_TITLE###
		###GW1E###</td>

		<td valign=top align=right colspan=3>###GW1B###
		<b>###PRICE_PAYMENT_TAX###</b><br>
		(###PRICE_PAYMENT_NO_TAX###)<br>

		###GW1E###</td>
	</TR>
	<tr>
		<td colspan=6><img src="clear.gif" width=1 height=10></td>
	</tr>
	<tr>
		<td colspan=6 bgcolor="###GC2###">###GW2B###<b>TOTAL:</b>###GW2E###</td>
	</tr>
	<TR>
		<td valign=top colspan=3>###GW1B###
			<strong>Total en EUR:</strong>
		###GW1E###</td>

		<td valign=top align=right colspan=3>###GW1B###
		<b>USD ###PRICE_TOTAL_TAX###</b><br>
		(w/o VAT: ###PRICE_TOTAL_NO_TAX###)<br>

		###GW1E###</td>
	</TR>
		<tr>
			<td colspan=6>
			###GW1B###

	<br>
	<br>
	Bien cordialement,
	<br>
	<br>

	&nbsp;&nbsp;&nbsp;<strong>Mon magasin</strong><br>
	&nbsp;&nbsp;&nbsp;Ma rue<br>
	&nbsp;&nbsp;&nbsp;1234 Ma Ville<br>
	<br>
	&nbsp;&nbsp;&nbsp;Téléphone: +x xxx xxx-xxxx<br>

				###GW1E###
		</td>
	</tr>
</TABLE>
<br>
<BR>
<!-- ###BASKET_ORDERCONFIRMATION_TEMPLATE### end -->














<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>BASKET_TEMPLATE_EMPTY</h3>
<em>
If the basket is empty this subpart is displayed<br>
</em><br>
<br>
<br>
<!-- ###BASKET_TEMPLATE_EMPTY### begin
	If the basket is empty this subpart is displayed
-->
###GW1B###<B>Basket is empty.</B>###GW1E###
<!-- ###BASKET_TEMPLATE_EMPTY### end -->







<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>BASKET_REQUIRED_INFO_MISSING</h3>
<em>
If payment is initiated but the required information fields are not filled in correctly, this happens.<br>
</em><br>
<br>
<br>
<!-- ###BASKET_REQUIRED_INFO_MISSING### begin
	If payment is initiated but the required information fields are not filled in correctly, this happens
-->
###GW1B###<B>Vous n'avez pas saisi toutes les informations d'adresse nécessaires. ###ERROR_DETAILS### Merci de saisir toutes les données!</B>###GW1E###
	<FORM method="post" action="###FORM_URL###">
	<input type="Submit" name="products_info" value="Saisissez information adresse" onClick="document.forms[0].action='###FORM_URL_INFO###';">
	</FORM>
<!-- ###BASKET_REQUIRED_INFO_MISSING### end -->












<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>TRACKING_DISPLAY_INFO</h3>
<em>
Displays the view of the order status by tracking codes.<br>
</em><br>
<br>
<br>
<!-- ###TRACKING_DISPLAY_INFO### begin
	Displays the view of the order status by tracking codes.
-->
###GW1B###
<B>Votre commande n° (###ORDER_UID###) a le statut:</B><br>
(La dernière ligne est le dernier changement)<br>
<br>

<table border=1 cellpadding=0 cellspacing=4>
	<tr>
		<td>###GW2B### <strong>Heure:</strong> ###GW2E###</td>
		<td>###GW2B### <strong>Code:</strong> ###GW2E###</td>
		<td>###GW2B### <strong>Action:</strong> ###GW2E###</td>
		<td>###GW2B### <strong>Commentaire:</strong> ###GW2E###</td>
	</tr>
	<!-- ###STATUS_ITEM### begin
		This part is repeated for each order status item and finally this part in the template code is substituted with the accumulated code for all order status actions.
	-->
	<tr>
		<td nowrap valign=top>###GW2B### ###ORDER_STATUS_TIME### &nbsp;###GW2E###</td>
		<td valign=top>###GW2B### ###ORDER_STATUS### &nbsp;###GW2E###</td>
		<td nowrap valign=top>###GW2B### ###ORDER_STATUS_INFO### &nbsp;###GW2E###</td>
		<td valign=top>###GW2B### ###ORDER_STATUS_COMMENT### &nbsp;###GW2E###</td>
	</tr>
	<!-- ###STATUS_ITEM### end -->
</table>
<br>

<!-- ###ADMIN_CONTROL### begin -->
<table border=0 cellpadding=1 cellspacing=0 bgcolor="black"><tr><td>
	<table border=0 cellpadding=10 cellspacing=0 bgcolor="#92AFCB"><tr><td>
		###GW1B### <strong>Accès administrateur : saisissez le mot de passe pour accéder au suivi des commandes</strong><br>
		Commande n° : ####ORDER_UID###
		<br>
		###GW1B###

		<!-- ###ADMIN_CONTROL_OK### begin -->
		<FORM method="post" action="###FORM_URL###">
		<select name="orderRecord[status][]" size="9" multiple>
			###STATUS_OPTIONS###
		</select>
			<br>
			###GW1B###Commentaire sur le nouvel état:###GW1B###<br>
			<textarea cols="40" rows="5" name="orderRecord[status_comment]"></textarea><br>

			<input type="hidden" name="tracking" value="###TRACKING_NUMBER###"><br>
			<input type="hidden" name="update_code" value="###UPDATE_CODE###"><br>
			<input type="Submit" name="submit" value="Ajouter un état de commande">
			</FORM>
			<hr>
			Passer à une autre commande :
			<FORM method="post" action="###FORM_URL###">
				<select name="tracking" size="9">
					###OTHER_ORDERS_OPTIONS###
				</select><br><br>
				<input type="Submit" name="submit" value="Valider">
				<input type="hidden" name="update_code" value="###UPDATE_CODE###"><br>
			</FORM>
		<!-- ###ADMIN_CONTROL_OK### begin -->
		<!-- ###ADMIN_CONTROL_DENY### begin -->
			<FORM method="post" action="###FORM_URL###">
			<input type="hidden" name="tracking" value="###TRACKING_NUMBER###"><br>
			###GW1B###Mot de passe :###GW1B###<br>
			<input type="password" size=40 name="update_code" value="###UPDATE_CODE###">
			<input type="Submit" name="submit" value="Entrez le mot de passe">
			</FORM>
		<!-- ###ADMIN_CONTROL_DENY### begin -->
		</td></tr></table>
	</td></tr>
</table><br>
<!-- ###ADMIN_CONTROL### end -->


<strong>Contenu Email :</strong><br>
Cochez cette case si vous souhaitez recevoir un Email à l'adresse (###FIELD_EMAIL###) à chaque changement d'état de votre commande :<br>
	<FORM method="post" action="###FORM_URL###">

	<input type="hidden" name="orderRecord[email_notify]" value="0">
	<input type="checkbox" name="orderRecord[email_notify]" value="1"###FIELD_EMAIL_NOTIFY###>Recevoir messages à chaque mise à jour de la commande.<br>
	<input type="text" size=40 name="orderRecord[email]" value="###FIELD_EMAIL###">
	<input type="hidden" name="tracking" value="###TRACKING_NUMBER###">

	<input type="Submit" name="submit" value="Mettre à jour">
	</FORM>
<br><br>
<strong>Envoyez un message au magasin :</strong><br>
Vous pouvez envoyer un message au magasin concernant cette commande.<br>
	<FORM method="post" action="###FORM_URL###">
	<input type="hidden" name="tracking" value="###TRACKING_NUMBER###">
	###GW1B###Select topic:###GW1B###<br>
	<select name="orderRecord[status][]" size="1">
		<!-- NOTICE: The values/topics MUST correspond with those setup in the TypoScript of the shop! -->
		<option value=51>Message du client au magasin</option>
		<option value=50>Le client souhaite annuler sa commande</option>
	</select>
	<br>
	###GW1B###Comment to follow:###GW1B###<br>
	<textarea cols="40" rows="5" name="orderRecord[status_comment]"></textarea><br>
	<input type="Submit" name="submit" value="Envoyer message">
	</FORM>
<br>
<br>
<B>Voici la confirmation de commande originale :</B><br><br>
###GW1E###
<HR>
<br>

###ORDER_HTML_OUTPUT###
<!-- ###TRACKING_DISPLAY_INFO### end -->















<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>TRACKING_ENTER_NUMBER</h3>
<em>
Displays form for entering the tracking number.<br>
</em><br>
<br>
<br>
<!-- ###TRACKING_ENTER_NUMBER### begin
	Displays form for entering the tracking number.
-->
###GW1B###<B>Saisissez votre code de suivi :</B>###GW1E###<br>
	<FORM method="post" action="###FORM_URL###">
	<input type="text" name="tracking"><br>
	<input type="Submit" name="submit" value="Voir état">
	</FORM>

<!-- ###ADMIN_CONTROL### begin -->
<table border=0 cellpadding=1 cellspacing=0 bgcolor="black"><tr><td>
	<table border=0 cellpadding=10 cellspacing=0 bgcolor="#92AFCB"><tr><td>
		###GW1B### <strong>Accès administrateur : saisissez le mot de passe pour accéder au suivi des commandes
</strong><br>
		<!-- ###ADMIN_CONTROL_DENY### begin -->
			<FORM method="post" action="###FORM_URL###">
			###GW1B###Mot de passe:###GW1B###<br>
			<input type="password" size=40 name="update_code" value="">
			<input type="Submit" name="submit" value="Entrez le mot de passe">
			</FORM>
		<!-- ###ADMIN_CONTROL_DENY### begin -->
		</td></tr></table>
	</td></tr>
</table><br>
<!-- ###ADMIN_CONTROL### end -->



<!-- ###TRACKING_ENTER_NUMBER### end -->






<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>TRACKING_WRONG_NUMBER</h3>
<em>
Displays error message if no tracking code.<br>
</em><br>
<br>
<br>
<!-- ###TRACKING_WRONG_NUMBER### begin
	Displays error message if no tracking code.
-->
###GW1B###<B>LE code de suivi est incorrect ! Saisissez un n° valide ou contactez le magasin !</B>###GW1E###<br>

	<FORM method="post" action="###FORM_URL###">
	<input type="text" name="tracking"><br>
	<input type="Submit" name="submit" value="Voir état">
	</FORM>

<!-- ###TRACKING_WRONG_NUMBER### end -->













<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>TRACKING_EMAILNOTIFY_TEMPLATE</h3>
<em>
Subpart used as template for the notify emails.<br>
First line is used as subject for the mail.<br>
</em><br>
<br>
<br>
<pre>
<!-- ###TRACKING_EMAILNOTIFY_TEMPLATE### begin
Subpart used as template for the notify emails
First line is used as subject for the mail.
-->

L'etat de votre commande (####ORDER_UID###) a changé :

Time: ###ORDER_STATUS_TIME###
Status: ###ORDER_STATUS_INFO###

Commentaire:
###ORDER_STATUS_COMMENT###


SUIVI:
Vous avez reçu ce mail car vous avez demandé à être informés de tout changement d'état de votre commande. Vous pouvez consulter son état et modifier son suivie en saisissant le code de suivi :
        ###ORDER_TRACKING_NO###

Cliquez ici pour voir l'information maintenant:
        http://###DOMAIN###/index.php?id=###PID_TRACKING###&type=0&tracking=###ORDER_TRACKING_NO###



Bien cordialement
	Mon magasin
	Ma Rue
	1234 Ma ville
	Téléphone: +x xxx xxx-xxxx

<!-- ###TRACKING_EMAILNOTIFY_TEMPLATE### end -->
</pre>





<!-- ###BASKET_OVERVIEW_TEMPLATE### begin -->
  <div class="shop_minibasket">
     <div class="shop_minibasket_image"><!--###LINK_BASKET###-->###IMAGE_BASKET###<!--###LINK_BASKET###-->###NUMBER_GOODSTOTAL### Produits ( Total  ###PRICE_GOODSTOTAL_TAX###.- EUR TTC)</div></DIV>
<!-- ###BASKET_OVERVIEW_TEMPLATE### end -->



<!-- ###BASKET_OVERVIEW_EMPTY### begin -->
  <p>Panier vide.</p>
<!-- ###BASKET_OVERVIEW_EMPTY### end -->
   </div>
<!-- ###BASKET_OVERVIEW_TEMPLATE### end -->












<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>EMAIL_PLAINTEXT_TEMPLATE</h3>
<em>
Subpart used as template for the order-emails.<br>
First line is used as subject for the mail.<br>
</em><br>
<br>
<br>
<pre>
<!-- ###EMAIL_PLAINTEXT_TEMPLATE### begin
	Subpart used as template for the order-emails
	First line is used as subject for the mail.
-->
Commande Ma Boutique : ####ORDER_UID###


CONFIRMATION DE COMMANDE:
Votre commande est en cours de traitement sous la référence : ###ORDER_UID###.
Utilisez ce n° pour tout contact avec nous.

SUIVI:
Vous pouvez suivre votre commande en saisissant le n° de commande suivant ###ORDER_TRACKING_NO### à l'adresse suivante :
        http://###DOMAIN###/index.php?id=###PID_TRACKING###&type=0&tracking=###ORDER_TRACKING_NO###


Commande :

1) Produits:
	<!-- ###ITEM_CATEGORY_AND_ITEMS### -->
		<!-- ###ITEM_LIST### begin -->
			<!-- ###ITEM_SINGLE### begin-->
Article: ###PRODUCT_TITLE###
Référence article : ###PRODUCT_ITEMNUMBER###
Prix: ###PRICE_TAX### EUR
Quantité: ###FIELD_QTY###        = ###PRICE_TOTAL_TAX### EUR
			<!-- ###ITEM_SINGLE### end -->
		<!-- ###ITEM_LIST### end -->
	<!-- ###ITEM_CATEGORY_AND_ITEMS###  end -->

2) Adresse de facturation:
###PERSON_NAME###
###PERSON_ADDRESS###

Tel : ###PERSON_TELEPHONE###
Email: ###PERSON_EMAIL###


3) Adresse de livraison:
###DELIVERY_ADDRESS###
att. ###DELIVERY_NAME###
Telefon: ###DELIVERY_TELEPHONE###
Email: ###DELIVERY_EMAIL###


4) Remarques :
###DELIVERY_NOTE###


5) Port:
###SHIPPING_TITLE###
Prix: ###PRICE_SHIPPING_TAX### EUR(###PRICE_SHIPPING_NO_TAX### HT)


6) Moyen de paiement :
###PAYMENT_TITLE###
Prix TTC : ###PRICE_PAYMENT_TAX### EUR(###PRICE_PAYMENT_NO_TAX### HT)


TOTAL TTC: ________________________ EUR ###PRICE_TOTAL_TAX###
(Total HT: ###PRICE_TOTAL_NO_TAX###)

Bien cordialement, Ma Boutique



<!-- ###EMAIL_PLAINTEXT_TEMPLATE### end -->
</pre>





<!-- ###BILL_TEMPLATE### start -->


<table border="0" cellspacing="0" cellpadding="1" width=672>
  <tr>
    <td colspan="2"> <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="750" height="120" align="CENTER" valign="TOP"><img src="http://shopms.de/images/header_rechnung.jpg" width="669" height="90"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td colspan="2">###GW1B### Mon magasin &#8211; Entreprise virtuelle, Ma Rue.
      4, 71364 Ma Ville , Mon Pays<br>
      -------------------------------------------------------------------------------------------------
      ###GW1E###</td>
  </tr>
  <tr>
    <td colspan=1 width="446"> <table cellspacing=1>
        <tr>
          <td><strong><font size="5">###PERSON_NAME### </font></strong></td>
        </tr>
        <tr>
          <td><strong><font size="5">###PERSON_ADDRESS_DISPLAY### </font></strong></td>
        </tr>
        <tr>
          <td><strong><font size="5">###PERSON_ZIP### ###PERSON_CITY###</font></strong></td>
        </tr>
        <tr>
          <td><strong><font size="5">###PERSON_COUNTRY### </font></strong></td>
        </tr>
        <tr>
          <td height="62"><img src="clear.gif" width="160" height="50"></td>
        </tr>
      </table>
  <tr>
    <td colspan=2> ###GW1B###<b>Facture N°. ###ORDER_UID###:</b>###GW1E###<br>
      <br> </tr>
  <!-- ###ITEM_CATEGORY_AND_ITEMS### begin -->
  <!-- ###ITEM_CATEGORY### begin -->
  <tr>
    <td>###GW1B###Valeur des biens TTC (###CATEGORY_QTY### x ###CATEGORY_TITLE###)###GW1E###</td>
    <td align="right" width="100">###GW1B### <b>EUR ###PRICE_GOODS_TAX### <br>(valeur HT EUR ###PRICE_GOODS_NO_TAX###)</b> ###GW1E###</td>
  </tr>
  <!-- ###ITEM_CATEGORY### end -->
  <!-- ###ITEM_LIST### begin -->
  <!-- ###ITEM_SINGLE### begin-->
  <tr>
    <td colspan="2"><img src="clear.gif" width="1" height="2"></td>
  </tr>
  <tr>
    <td valign="top" colspan="2"> ###FIELD_QTY###x ###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###
    </td>
  </tr>
  <!-- ###ITEM_SINGLE### end -->
  <!-- ###ITEM_LIST### end -->
  <!-- ###ITEM_CATEGORY_AND_ITEMS### end -->
  <tr>
    <td colspan="2"><img src="clear.gif" width="1" height="10"></td>
  </tr>
  <tr>
    <td valign="top" colspan="1">###GW1B### Moyen de paiement : ###PAYMENT_TITLE### ###GW1E###</td>
    <td valign="top" align="right">###GW1B### <b>EUR ###PRICE_PAYMENT_TAX###</b><br>
      ###GW1E###</td>
  </tr>
  <tr>
    <td valign=top>###GW1B### Frais de port###GW1E###</td>
    <td valign=top align=right>###GW1B### <b>EUR ###PRICE_SHIPPING_TAX###</b><br>
      ###GW1E###</td>
  </tr>
  <tr>
    <td colspan=2><img src="clear.gif" width="1" height="10"></td>
  </tr>
  <tr>
    <td colspan=2>--------------------------------------------------------------------------------------------------------------------------</td>
  </tr>
  <tr>
    <td valign=top colspan=1 height="59">###GW1B### <strong>Total TTC</strong> ###GW1E###</td>
    <td valign=top align=right colspan=1>###GW1B### <b>EUR ###PRICE_TOTAL_TAX### <br>(Total HT EUR ###PRICE_TOTAL_NO_TAX###)</b><br>
      ###GW1E###</td>
  </tr>
  <tr>
    <td colspan=2>&nbsp;</td>
  </tr>
  <tr>
    <td valign="TOP">###GW1B### Nous vous souhaitons une bonne réception des produits bananaGUARD. <br>
      NE PAS OUBLIER: Parlez de Nous . <br> <br>
      Bien cordialement : <br> <br> <strong>bananaGUARD.de<br>
      </strong>Mon magasin Virtuel<br>
      Ma Rue. 4<br>
      71364 Ma Ville<br>
      Mon Pays
      <p>Tel: +49 (0)7195 / 583372<br>
        Email: info@bananaguard.de<br>
        N° INTRACOM. FR9038742052</p>
      ###GW1E###</td>
    <td valign="BOTTOM">###GW1B### <p>Coordonnées bancaires:<br>
        Ma Banque<br>
        Mon N° d'agence. 76010085<br>
        Mon compte. 130731855</p>
      <p>IBAN: DE46 7601 0085 0130 7318 55<br>
        BIC: PBNKDEFF<br>
        ###GW1E### </p></td>
  </tr>
  <tr>
    <td colspan=2>&nbsp;</td>
  </tr>
</table>


<!-- ###BILL_TEMPLATE### end -->


<!-- ###DELIVERY_TEMPLATE### start -->


<table border="0" cellspacing="0" cellpadding="1" width=672>
  <tr>
    <td colspan="2"> <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="750" height="120" align="CENTER" valign="TOP"><img src="http://shopms.de/images/header_rechnung.jpg" width="669" height="90"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td colspan="2">###GW1B### Mon magasin Virtuel&#8211; maginsin virtuel, Ma Rue.
      4, 71364 Ma Ville, Mon pays<br>
      -------------------------------------------------------------------------------------------------
      ###GW1E###</td>
  </tr>
  <tr>
<td colspan=1>
<table cellspacing=1>
<tr>
<td><font size="5"><strong>###DELIVERY_NAME###</strong></font></td>
</tr>
<tr>
<td><font size="5"><strong>###DELIVERY_ADDRESS_DISPLAY###</strong></font></td>
</tr>
<tr>
  <td><strong><font size="5">###DELIVERY_ZIP### ###DELIVERY_CITY###</font></strong></td>
</tr>
<tr>
  <td><strong><font size="5">###DELIVERY_COUNTRY### </font></strong></td>
</tr>
</tr>
<tr>
<td><img src="clear.gif" width="160" height="60"></td>
</tr>
</table>

<tr>
<td colspan=2>
###GW1B###<b>Bon de livraison pour la commande n° : ###ORDER_UID###:</b>###GW1E###<br><br>
<br>
</tr>
<!-- ###ITEM_CATEGORY_AND_ITEMS### begin -->
<!-- ###ITEM_CATEGORY### begin -->
<tr>
<td>###GW1B###Valeur des biens (###CATEGORY_QTY### x ###CATEGORY_TITLE###)###GW1E###</td>
<td align=right></td>
</tr>
<!-- ###ITEM_CATEGORY### end -->

<!-- ###ITEM_LIST### begin -->
<!-- ###ITEM_SINGLE### begin-->
<tr>
<td colspan=2><img src="clear.gif" width="1" height="2"></td>
</tr>
<tr>
<td valign=top colspan=2>
 ###FIELD_QTY###x ###GW1B###<b>###PRODUCT_TITLE###</b>###GW1E###
</td>
</tr>
<!-- ###ITEM_SINGLE### end -->
<!-- ###ITEM_LIST### end -->
<!-- ###ITEM_CATEGORY_AND_ITEMS### end -->
<tr>
<td colspan=2><img src="clear.gif" width="1" height="10"></td>
</tr>

<tr>
    <td colspan=2><img src="clear.gif" width="1" height="10">###GW1B### Zahlungsart: ###PAYMENT_TITLE###
      ###GW1E###</td>
</tr>
<tr>
<td colspan=2>-----------------------------------------------------------------------------------------------------</td>
</tr>
<tr>
    <td colspan=2>&nbsp;</td>
</tr>
<tr>
    <td valign="TOP">###GW1B### Merci d'utiliser nos produits. <br>
      NE PAS OUBLIER : PARLEZ DE NOUS !. <br>
      Bien cordialement: <br> <br> <strong>bananaGUARD.de<br>
      </strong>Mon Magasin- magasin virtuel<br>
      Ma Rue. 4<br>
      71364 Ma Ville<br>
      Mon Pays
      <p>Tel: +33 (0)7195 / 583372<br>
        Email: info@bananaguard.de<br>
        N° INTRACOM : FR9038742052</p>
      ###GW1E###</td>
    <td valign="BOTTOM">###GW1B### <p>Coordonnées bancaires:<br>
        Ma Banque<br>
        Agence 76010085<br>
        Compte 130731855</p>
      <p>IBAN: DE46 7601 0085 0130 7318 55<br>
        BIC: PBNKDEFF<br>
        ###GW1E### </p></td>
  </tr>

</tr>
</table>


<!-- ###DELIVERY_TEMPLATE### end -->


<BR><BR><BR><BR><HR><BR><BR><BR>
<h3>EMAIL_NEWUSER_TEMPLATE</h3>
<em>
Subpart used as template for the account-creation-emails. First line is
used as subject for the mail.<br>
</em><br>
<pre>
<!-- ###EMAIL_NEWUSER_TEMPLATE### begin
Subpart used as template for the account-creation-emails First line is
used as subject for the mail.
-->
Nouveau compte utilisateur :
Cher(e) ###PERSON_NAME###,
Vous avez passé commande à http://###DOMAIN###/ pour la première fois.
Afin de faciliter vos futurs achats un compte utilisateur a été créé.
Vos informations personnelles :
Nom d'utilisateur: ###USERNAME###
Votre mot de passe: ###PASSWORD###
Cordialement,
L'équipe de ###DOMAIN###
<!-- ###EMAIL_NEWUSER_TEMPLATE### end -->
</pre>


<!-- ###BASKET_ORDERTHANKS_TEMPLATE#### begin (Page meer wijn = bestellingsbevestiging, CODE = finalize)
Subpart used if the order is finalized and this is thus to thank the person.
-->

<div style="width:714px;">
<p style="margin-left=40;">Cher(e) <b>###PERSON_NAME###</b></p>
<p style="margin-left=40;">Merci de votre commande<br>
Bien cordialement<br>
Mon magasin virtuel<br>
Ma Rue 7<br>
Ma ville<br>
Tel.: +33 (0)7195 583372<br>
Email: info@trucmuche.fr</p>
</div>
<!-- ###BASKET_ORDERTHANKS_TEMPLATE### end -->




</body>
</html>
